@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" href="data:image/gif;base64,R0lGODlhEAAQAAAAACH5BAEAAAAALAAAAAABAAEAAAIBKAA7">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mdi/font@@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/node_modules/vuetify/dist/vuetify.css">
    <link rel="stylesheet" href="~/style.css" asp-append-version="true">
    <title>Vuetify starter</title>
</head>
<body>
    <div id="app">...loading</div>

    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/vue-router/dist/vue-router.js"></script>
    <script src="/node_modules/vuetify/dist/vuetify.js"></script>
    <script src="/node_modules/@@azure/msal-browser/lib/msal-browser.js"></script>
    <script src="~/bundle.js" asp-append-version="true"></script>
</body>
</html>
